.library, .book {
    box-sizing: border-box;
    border: 1px solid;
}

.library {
    width: 502px;
    height: 502px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.book {
    width: 100px;
    height: 100px;
    margin: 0;
}

.book p {
    padding: 0;
    margin: 0;
}

.add-book-fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 251px;
    left: 251px;
    transform: translate(-50%, -50%);
}

#add-book {
    width: 75px;
    height: 25px;
}

#submit-book {
    
}