.library, .book {
    box-sizing: border-box;
    border: solid;
}

.library {
    width: 500px;
    height: 500px;
}

.book {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.book p {
    padding: 0;
    margin: 0;
}